{% extends 'base.html.twig'  %}
{% block title %}login{% endblock %}
{% block pageName %}login{% endblock %}

{%  block body %}



<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">

  <form action="{{ path('login') }}" method="post">
    <!--<div class="form-group">
        <input placeholder="Email" required name="_username" type="text" class="form-control">
    </div>
    <div class="form-group">
        <input placeholder="Password" required name="_password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">LogIn</button>
    </div>-->

    <div class="card text-white" style="border-radius: 1rem; background-color: #070225">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">LOGIN</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <div class="form-group form-outline form-white mb-4">
                <input type="email" id="typeEmailX" required name="_username" class="form-control form-control-lg" placeholder="Email"/>
                
              </div>

              <div class="form-group form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" required name="_password" placeholder="Password"/>
               
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">login</button>
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href={{asset('signUp')}} class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>

  </form>
</div>
</div>
</div>



{% endblock %}